@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C100%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inter%3Aital%2Cwght%400%2C100%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-vsosri4vI-pinM: 1140px;
  --plasmic-token-content-max-width: var(--token-vsosri4vI-pinM);
  --token-bqT2FPBBgDbtsN: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-bqT2FPBBgDbtsN);
  --token-ENpipOAeVo3GUm: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-ENpipOAeVo3GUm);
  --token-bZyWMVSMNfpnsm: #92959bd9;
  --plasmic-token-light-label: var(--token-bZyWMVSMNfpnsm);
  --token-hCRFs7FIBan5cr: #05050599;
  --plasmic-token-light-secondary: var(--token-hCRFs7FIBan5cr);
  --token-tKMWzWl34CYq4E: #007aff;
  --plasmic-token-light-blue: var(--token-tKMWzWl34CYq4E);
  --token-U18MM_bZU5tgnG: #ff3b30;
  --plasmic-token-light-red: var(--token-U18MM_bZU5tgnG);
  --token-34PCFqUIDbWMvv: #ffffff;
  --plasmic-token-white: var(--token-34PCFqUIDbWMvv);
  --token-FzHA-6X_Adhv6D: #ffffffd9;
  --plasmic-token-dark-label: var(--token-FzHA-6X_Adhv6D);
  --token-5As1kQ3Bk_4Jz8: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-5As1kQ3Bk_4Jz8);
  --token-er0y7Fi359oGsf: #0000001a;
  --plasmic-token-light-quarternary: var(--token-er0y7Fi359oGsf);
  --token-4rAgjlK4Pl3032: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-4rAgjlK4Pl3032);
  --token-RGExzzXTJ4X9oZ: #32d74b;
  --plasmic-token-dark-green: var(--token-RGExzzXTJ4X9oZ);
  --token-yYSO_qWmWVbVX7: #0a84ff;
  --plasmic-token-dark-blue: var(--token-yYSO_qWmWVbVX7);
  --token-FgtgWK-6RBHSaL: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-FgtgWK-6RBHSaL);
  --token-kJUCtJsX3PXJUr: #34c759;
  --plasmic-token-light-green: var(--token-kJUCtJsX3PXJUr);
  --token-P-NXSHyhlnQihS: #5856d6;
  --plasmic-token-light-indigo: var(--token-P-NXSHyhlnQihS);
  --token-hjmPXc-ZJL0BGC: #572af8;
  --plasmic-token-unnamed-style-token: var(--token-hjmPXc-ZJL0BGC);
  --token-uS0cuzDF0LbkCk: 1240px;
  --plasmic-token-max-width-navbar: var(--token-uS0cuzDF0LbkCk);
  --token-U8ACuIGSUA8fG_: var(--token-FrurFUhuE4R9Vx);
  --plasmic-token-unnamed-style-token-2: var(--token-U8ACuIGSUA8fG_);
  --token-FrurFUhuE4R9Vx: #eeeeee80;
  --plasmic-token-grey: var(--token-FrurFUhuE4R9Vx);
  --token-nWU1bBapPugvGa: Roboto;
  --plasmic-token-unnamed-style-token-3: var(--token-nWU1bBapPugvGa);
  --token-xUT3oxrTHnjEYb: 0px;
  --plasmic-token-own: var(--token-xUT3oxrTHnjEYb);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_segment_override),
.plasmic_default_styles:where(.global_experiment_override),
.plasmic_default_styles:where(.global_experiment2_override) {
  --mixin-zL8MFcF4CExRVh_font-family: "Montserrat", sans-serif;
  --mixin-zL8MFcF4CExRVh_font-size: 24px;
  --mixin-zL8MFcF4CExRVh_font-weight: 500;
  --mixin-zL8MFcF4CExRVh_font-style: normal;
  --mixin-zL8MFcF4CExRVh_color: #00000080;
  --mixin-zL8MFcF4CExRVh_text-align: left;
  --mixin-zL8MFcF4CExRVh_text-transform: none;
  --mixin-zL8MFcF4CExRVh_line-height: 1.5;
  --mixin-zL8MFcF4CExRVh_letter-spacing: normal;
  --mixin-zL8MFcF4CExRVh_white-space: pre-wrap;
  --mixin-zL8MFcF4CExRVh_user-select: text;
  --mixin-zL8MFcF4CExRVh_text-decoration-line: none;
  --mixin-zL8MFcF4CExRVh_text-overflow: clip;
  --mixin-N_9bGmB0p3ty8e_white-space: pre-wrap;
  --mixin-tD9qDLzbJ9NmMk_font-family: "Montserrat", sans-serif;
  --mixin-tD9qDLzbJ9NmMk_color: #ffffff;
  --mixin-tD9qDLzbJ9NmMk_font-size: 72px;
  --mixin-tD9qDLzbJ9NmMk_font-weight: 700;
  --mixin-tD9qDLzbJ9NmMk_line-height: 88px;
  --mixin-tD9qDLzbJ9NmMk_white-space: pre-wrap;
  --mixin-ZRSwY-HcNyrfcr_font-family: "Inter", sans-serif;
  --mixin-ZRSwY-HcNyrfcr_color: #000000;
  --mixin-ZRSwY-HcNyrfcr_font-size: 36px;
  --mixin-ZRSwY-HcNyrfcr_font-weight: 700;
  --mixin-ZRSwY-HcNyrfcr_line-height: 43px;
  --mixin-ZRSwY-HcNyrfcr_text-align: center;
  --mixin-ZRSwY-HcNyrfcr_white-space: pre-wrap;
  --mixin-06Vc4gYgAomEqA_font-family: "Inter", sans-serif;
  --mixin-06Vc4gYgAomEqA_color: #000000;
  --mixin-06Vc4gYgAomEqA_font-size: 24px;
  --mixin-06Vc4gYgAomEqA_font-weight: 600;
  --mixin-06Vc4gYgAomEqA_letter-spacing: -0.5px;
  --mixin-06Vc4gYgAomEqA_line-height: 1.3;
  --mixin-06Vc4gYgAomEqA_white-space: pre-wrap;
  --mixin-VWBuf6jdDQJ3VY_font-family: "Montserrat", sans-serif;
  --mixin-VWBuf6jdDQJ3VY_color: #185adb;
  --mixin-VWBuf6jdDQJ3VY_font-size: 24px;
  --mixin-VWBuf6jdDQJ3VY_font-weight: 700;
  --mixin-VWBuf6jdDQJ3VY_line-height: 29px;
  --mixin-VWBuf6jdDQJ3VY_text-align: center;
  --mixin-VWBuf6jdDQJ3VY_white-space: pre-wrap;
  --mixin-QKI6FeD-rdjSuy_font-family: "Inter", sans-serif;
  --mixin-QKI6FeD-rdjSuy_color: #000000;
  --mixin-QKI6FeD-rdjSuy_font-size: 16px;
  --mixin-QKI6FeD-rdjSuy_font-weight: 600;
  --mixin-QKI6FeD-rdjSuy_line-height: 1.5;
  --mixin-QKI6FeD-rdjSuy_white-space: pre-wrap;
  --mixin-oBH1VzoHhph4Ue_border-left-color: #dddddd;
  --mixin-oBH1VzoHhph4Ue_border-left-style: solid;
  --mixin-oBH1VzoHhph4Ue_border-left-width: 3px;
  --mixin-oBH1VzoHhph4Ue_color: #888888;
  --mixin-oBH1VzoHhph4Ue_padding-left: 10px;
  --mixin-oBH1VzoHhph4Ue_white-space: pre-wrap;
  --mixin-Clc0JJiqZFiDVb_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Clc0JJiqZFiDVb_border-bottom-color: #dddddd;
  --mixin-Clc0JJiqZFiDVb_border-bottom-style: solid;
  --mixin-Clc0JJiqZFiDVb_border-bottom-width: 1px;
  --mixin-Clc0JJiqZFiDVb_border-left-color: #dddddd;
  --mixin-Clc0JJiqZFiDVb_border-left-style: solid;
  --mixin-Clc0JJiqZFiDVb_border-left-width: 1px;
  --mixin-Clc0JJiqZFiDVb_border-right-color: #dddddd;
  --mixin-Clc0JJiqZFiDVb_border-right-style: solid;
  --mixin-Clc0JJiqZFiDVb_border-right-width: 1px;
  --mixin-Clc0JJiqZFiDVb_border-top-color: #dddddd;
  --mixin-Clc0JJiqZFiDVb_border-top-style: solid;
  --mixin-Clc0JJiqZFiDVb_border-top-width: 1px;
  --mixin-Clc0JJiqZFiDVb_border-bottom-left-radius: 3px;
  --mixin-Clc0JJiqZFiDVb_border-bottom-right-radius: 3px;
  --mixin-Clc0JJiqZFiDVb_border-top-left-radius: 3px;
  --mixin-Clc0JJiqZFiDVb_border-top-right-radius: 3px;
  --mixin-Clc0JJiqZFiDVb_font-family: "Inconsolata";
  --mixin-Clc0JJiqZFiDVb_padding-bottom: 1px;
  --mixin-Clc0JJiqZFiDVb_padding-left: 4px;
  --mixin-Clc0JJiqZFiDVb_padding-right: 4px;
  --mixin-Clc0JJiqZFiDVb_padding-top: 1px;
  --mixin-Clc0JJiqZFiDVb_white-space: pre-wrap;
  --mixin-UMDENs-5GAKRHE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-UMDENs-5GAKRHE_border-bottom-color: #dddddd;
  --mixin-UMDENs-5GAKRHE_border-bottom-style: solid;
  --mixin-UMDENs-5GAKRHE_border-bottom-width: 1px;
  --mixin-UMDENs-5GAKRHE_border-left-color: #dddddd;
  --mixin-UMDENs-5GAKRHE_border-left-style: solid;
  --mixin-UMDENs-5GAKRHE_border-left-width: 1px;
  --mixin-UMDENs-5GAKRHE_border-right-color: #dddddd;
  --mixin-UMDENs-5GAKRHE_border-right-style: solid;
  --mixin-UMDENs-5GAKRHE_border-right-width: 1px;
  --mixin-UMDENs-5GAKRHE_border-top-color: #dddddd;
  --mixin-UMDENs-5GAKRHE_border-top-style: solid;
  --mixin-UMDENs-5GAKRHE_border-top-width: 1px;
  --mixin-UMDENs-5GAKRHE_border-bottom-left-radius: 3px;
  --mixin-UMDENs-5GAKRHE_border-bottom-right-radius: 3px;
  --mixin-UMDENs-5GAKRHE_border-top-left-radius: 3px;
  --mixin-UMDENs-5GAKRHE_border-top-right-radius: 3px;
  --mixin-UMDENs-5GAKRHE_font-family: "Inconsolata";
  --mixin-UMDENs-5GAKRHE_padding-bottom: 3px;
  --mixin-UMDENs-5GAKRHE_padding-left: 6px;
  --mixin-UMDENs-5GAKRHE_padding-right: 6px;
  --mixin-UMDENs-5GAKRHE_padding-top: 3px;
  --mixin-UMDENs-5GAKRHE_white-space: pre-wrap;
  --mixin-o_WInvhrt30Lk1_display: flex;
  --mixin-o_WInvhrt30Lk1_flex-direction: column;
  --mixin-o_WInvhrt30Lk1_align-items: stretch;
  --mixin-o_WInvhrt30Lk1_justify-content: flex-start;
  --mixin-o_WInvhrt30Lk1_list-style-position: outside;
  --mixin-o_WInvhrt30Lk1_padding-left: 40px;
  --mixin-o_WInvhrt30Lk1_position: relative;
  --mixin-o_WInvhrt30Lk1_list-style-type: decimal;
  --mixin-o_WInvhrt30Lk1_white-space: pre-wrap;
  --mixin-EPysrJXHIS-Ir5_display: flex;
  --mixin-EPysrJXHIS-Ir5_flex-direction: column;
  --mixin-EPysrJXHIS-Ir5_align-items: stretch;
  --mixin-EPysrJXHIS-Ir5_justify-content: flex-start;
  --mixin-EPysrJXHIS-Ir5_list-style-position: outside;
  --mixin-EPysrJXHIS-Ir5_padding-left: 40px;
  --mixin-EPysrJXHIS-Ir5_position: relative;
  --mixin-EPysrJXHIS-Ir5_list-style-type: disc;
  --mixin-EPysrJXHIS-Ir5_white-space: pre-wrap;
  --mixin-lH142mwExaTrOL_color: #000000;
  --mixin-lH142mwExaTrOL_font-family: "Montserrat", sans-serif;
  --mixin-lH142mwExaTrOL_font-size: 64px;
  --mixin-lH142mwExaTrOL_font-weight: 700;
  --mixin-lH142mwExaTrOL_line-height: 78px;
  --mixin-lH142mwExaTrOL_text-align: center;
  --mixin-lH142mwExaTrOL_white-space: pre-wrap;
  --mixin-hPm91Bj9zi1UR3_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 414px) {
  .plasmic_default_styles,
  .plasmic_default_styles:where(.global_segment_override),
  .plasmic_default_styles:where(.global_experiment_override),
  .plasmic_default_styles:where(.global_experiment2_override) {
    --mixin-zL8MFcF4CExRVh_font-size: 16px;
    --mixin-zL8MFcF4CExRVh_line-height: 27px;
    --mixin-zL8MFcF4CExRVh_white-space: pre-wrap;
    --mixin-tD9qDLzbJ9NmMk_font-size: 40px;
    --mixin-tD9qDLzbJ9NmMk_line-height: 48px;
    --mixin-tD9qDLzbJ9NmMk_white-space: pre-wrap;
    --mixin-lH142mwExaTrOL_font-size: 28px;
    --mixin-lH142mwExaTrOL_line-height: 34px;
    --mixin-lH142mwExaTrOL_white-space: pre-wrap;
  }
}

.plasmic_mixins,
.plasmic_mixins:where(.global_segment_override),
.plasmic_mixins:where(.global_experiment_override),
.plasmic_mixins:where(.global_experiment2_override) {
  --mixin-CpbB_gZdjAZ5uh_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-CpbB_gZdjAZ5uh_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-zL8MFcF4CExRVh_font-family);
  font-size: var(--mixin-zL8MFcF4CExRVh_font-size);
  font-weight: var(--mixin-zL8MFcF4CExRVh_font-weight);
  font-style: var(--mixin-zL8MFcF4CExRVh_font-style);
  color: var(--mixin-zL8MFcF4CExRVh_color);
  text-align: var(--mixin-zL8MFcF4CExRVh_text-align);
  text-transform: var(--mixin-zL8MFcF4CExRVh_text-transform);
  line-height: var(--mixin-zL8MFcF4CExRVh_line-height);
  letter-spacing: var(--mixin-zL8MFcF4CExRVh_letter-spacing);
  white-space: var(--mixin-zL8MFcF4CExRVh_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-tD9qDLzbJ9NmMk_font-family);
  color: var(--mixin-tD9qDLzbJ9NmMk_color);
  font-size: var(--mixin-tD9qDLzbJ9NmMk_font-size);
  font-weight: var(--mixin-tD9qDLzbJ9NmMk_font-weight);
  line-height: var(--mixin-tD9qDLzbJ9NmMk_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-ZRSwY-HcNyrfcr_font-family);
  color: var(--mixin-ZRSwY-HcNyrfcr_color);
  font-size: var(--mixin-ZRSwY-HcNyrfcr_font-size);
  font-weight: var(--mixin-ZRSwY-HcNyrfcr_font-weight);
  line-height: var(--mixin-ZRSwY-HcNyrfcr_line-height);
  text-align: var(--mixin-ZRSwY-HcNyrfcr_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-06Vc4gYgAomEqA_font-family);
  color: var(--mixin-06Vc4gYgAomEqA_color);
  font-size: var(--mixin-06Vc4gYgAomEqA_font-size);
  font-weight: var(--mixin-06Vc4gYgAomEqA_font-weight);
  letter-spacing: var(--mixin-06Vc4gYgAomEqA_letter-spacing);
  line-height: var(--mixin-06Vc4gYgAomEqA_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-VWBuf6jdDQJ3VY_font-family);
  color: var(--mixin-VWBuf6jdDQJ3VY_color);
  font-size: var(--mixin-VWBuf6jdDQJ3VY_font-size);
  font-weight: var(--mixin-VWBuf6jdDQJ3VY_font-weight);
  line-height: var(--mixin-VWBuf6jdDQJ3VY_line-height);
  text-align: var(--mixin-VWBuf6jdDQJ3VY_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-QKI6FeD-rdjSuy_font-family);
  color: var(--mixin-QKI6FeD-rdjSuy_color);
  font-size: var(--mixin-QKI6FeD-rdjSuy_font-size);
  font-weight: var(--mixin-QKI6FeD-rdjSuy_font-weight);
  line-height: var(--mixin-QKI6FeD-rdjSuy_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-oBH1VzoHhph4Ue_color);
  padding-left: var(--mixin-oBH1VzoHhph4Ue_padding-left);
  border-left: var(--mixin-oBH1VzoHhph4Ue_border-left-width)
    var(--mixin-oBH1VzoHhph4Ue_border-left-style)
    var(--mixin-oBH1VzoHhph4Ue_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Clc0JJiqZFiDVb_font-family);
  border-radius: var(--mixin-Clc0JJiqZFiDVb_border-top-left-radius)
    var(--mixin-Clc0JJiqZFiDVb_border-top-right-radius)
    var(--mixin-Clc0JJiqZFiDVb_border-bottom-right-radius)
    var(--mixin-Clc0JJiqZFiDVb_border-bottom-left-radius);
  padding: var(--mixin-Clc0JJiqZFiDVb_padding-top)
    var(--mixin-Clc0JJiqZFiDVb_padding-right)
    var(--mixin-Clc0JJiqZFiDVb_padding-bottom)
    var(--mixin-Clc0JJiqZFiDVb_padding-left);
  border-top: var(--mixin-Clc0JJiqZFiDVb_border-top-width)
    var(--mixin-Clc0JJiqZFiDVb_border-top-style)
    var(--mixin-Clc0JJiqZFiDVb_border-top-color);
  border-right: var(--mixin-Clc0JJiqZFiDVb_border-right-width)
    var(--mixin-Clc0JJiqZFiDVb_border-right-style)
    var(--mixin-Clc0JJiqZFiDVb_border-right-color);
  border-bottom: var(--mixin-Clc0JJiqZFiDVb_border-bottom-width)
    var(--mixin-Clc0JJiqZFiDVb_border-bottom-style)
    var(--mixin-Clc0JJiqZFiDVb_border-bottom-color);
  border-left: var(--mixin-Clc0JJiqZFiDVb_border-left-width)
    var(--mixin-Clc0JJiqZFiDVb_border-left-style)
    var(--mixin-Clc0JJiqZFiDVb_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-UMDENs-5GAKRHE_font-family);
  border-radius: var(--mixin-UMDENs-5GAKRHE_border-top-left-radius)
    var(--mixin-UMDENs-5GAKRHE_border-top-right-radius)
    var(--mixin-UMDENs-5GAKRHE_border-bottom-right-radius)
    var(--mixin-UMDENs-5GAKRHE_border-bottom-left-radius);
  padding: var(--mixin-UMDENs-5GAKRHE_padding-top)
    var(--mixin-UMDENs-5GAKRHE_padding-right)
    var(--mixin-UMDENs-5GAKRHE_padding-bottom)
    var(--mixin-UMDENs-5GAKRHE_padding-left);
  border-top: var(--mixin-UMDENs-5GAKRHE_border-top-width)
    var(--mixin-UMDENs-5GAKRHE_border-top-style)
    var(--mixin-UMDENs-5GAKRHE_border-top-color);
  border-right: var(--mixin-UMDENs-5GAKRHE_border-right-width)
    var(--mixin-UMDENs-5GAKRHE_border-right-style)
    var(--mixin-UMDENs-5GAKRHE_border-right-color);
  border-bottom: var(--mixin-UMDENs-5GAKRHE_border-bottom-width)
    var(--mixin-UMDENs-5GAKRHE_border-bottom-style)
    var(--mixin-UMDENs-5GAKRHE_border-bottom-color);
  border-left: var(--mixin-UMDENs-5GAKRHE_border-left-width)
    var(--mixin-UMDENs-5GAKRHE_border-left-style)
    var(--mixin-UMDENs-5GAKRHE_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-o_WInvhrt30Lk1_display);
  flex-direction: var(--mixin-o_WInvhrt30Lk1_flex-direction);
  align-items: var(--mixin-o_WInvhrt30Lk1_align-items);
  justify-content: var(--mixin-o_WInvhrt30Lk1_justify-content);
  list-style-position: var(--mixin-o_WInvhrt30Lk1_list-style-position);
  padding-left: var(--mixin-o_WInvhrt30Lk1_padding-left);
  position: var(--mixin-o_WInvhrt30Lk1_position);
  list-style-type: var(--mixin-o_WInvhrt30Lk1_list-style-type);
  flex-column-gap: var(--mixin-o_WInvhrt30Lk1_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-EPysrJXHIS-Ir5_display);
  flex-direction: var(--mixin-EPysrJXHIS-Ir5_flex-direction);
  align-items: var(--mixin-EPysrJXHIS-Ir5_align-items);
  justify-content: var(--mixin-EPysrJXHIS-Ir5_justify-content);
  list-style-position: var(--mixin-EPysrJXHIS-Ir5_list-style-position);
  padding-left: var(--mixin-EPysrJXHIS-Ir5_padding-left);
  position: var(--mixin-EPysrJXHIS-Ir5_position);
  list-style-type: var(--mixin-EPysrJXHIS-Ir5_list-style-type);
  flex-column-gap: var(--mixin-EPysrJXHIS-Ir5_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-lH142mwExaTrOL_color);
  font-family: var(--mixin-lH142mwExaTrOL_font-family);
  font-size: var(--mixin-lH142mwExaTrOL_font-size);
  font-weight: var(--mixin-lH142mwExaTrOL_font-weight);
  line-height: var(--mixin-lH142mwExaTrOL_line-height);
  text-align: var(--mixin-lH142mwExaTrOL_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
