.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f9f9f9;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  padding: 75px 107px 102px 98px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f9f9f9;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  padding: 75px 107px 102px 98px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .root {
    width: 813px;
    height: auto;
    padding: 30px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .root {
    width: 813px;
    height: auto;
    padding: 30px;
  }
}
.text__d2VN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 1000px;
  margin-bottom: 29px;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  color: #000000;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .text__d2VN {
    font-size: 24px;
  }
}
.text__fTuuB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 1000px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .text__fTuuB {
    font-size: 16px;
    padding: 0px;
  }
}
.antdTabs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  height: auto;
  width: 100%;
  min-width: 0;
}
.antdTabPane___2YdVy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  width: 100%;
  min-width: 0;
}
.text__qQ3JH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #00000080;
  min-width: 0;
}
.freeBox__dqDkY {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dqDkY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__dqDkY > :global(.__wab_flex-container) > *,
.freeBox__dqDkY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dqDkY > :global(.__wab_flex-container) > picture > img,
.freeBox__dqDkY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.freeBox__dqDkY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__dqDkY {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__dqDkY > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__dqDkY > :global(.__wab_flex-container) > *,
  .freeBox__dqDkY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dqDkY > :global(.__wab_flex-container) > picture > img,
  .freeBox__dqDkY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__dqDkY {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
  }
}
.waysToOrderCard___2U54R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__dsxR0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 200px;
  min-width: 0;
}
.img__dsxR0 > picture > img {
  object-fit: cover;
}
.img__dsxR0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.waysToOrderCard___27Wnx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__rUfr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 200px;
  min-width: 0;
}
.img__rUfr > picture > img {
  object-fit: cover;
}
.img__rUfr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.waysToOrderCard__jcsah:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__cHqX7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 200px;
  min-width: 0;
}
.img__cHqX7 > picture > img {
  object-fit: cover;
}
.img__cHqX7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.antdTabPane___154Td:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  width: 100%;
  min-width: 0;
}
.text___3EPbs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__uf6Vq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__uf6Vq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__uf6Vq > :global(.__wab_flex-container) > *,
.freeBox__uf6Vq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uf6Vq > :global(.__wab_flex-container) > picture > img,
.freeBox__uf6Vq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.freeBox__uf6Vq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__uf6Vq {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__uf6Vq > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__uf6Vq > :global(.__wab_flex-container) > *,
  .freeBox__uf6Vq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uf6Vq > :global(.__wab_flex-container) > picture > img,
  .freeBox__uf6Vq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__uf6Vq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: auto;
    flex-wrap: wrap;
    align-content: center;
  }
}
.waysToOrderCard___29QOp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 414px) {
  .waysToOrderCard___29QOp:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.img__kpyl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 200px;
  min-width: 0;
}
.img__kpyl > picture > img {
  object-fit: cover;
}
.img__kpyl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.waysToOrderCard__kXkuc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 414px) {
  .waysToOrderCard__kXkuc:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.img__zDJsf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 200px;
  min-width: 0;
}
.img__zDJsf > picture > img {
  object-fit: cover;
}
.img__zDJsf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.waysToOrderCard__khyte:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 414px) {
  .waysToOrderCard__khyte:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.img__gjUa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 200px;
  min-width: 0;
}
.img__gjUa > picture > img {
  object-fit: cover;
}
.img__gjUa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
