.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 0px 14px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .root {
    height: auto;
    max-width: none;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
  }
}
.freeBox__rrvUf {
  display: flex;
  position: relative;
  max-width: 100%;
  flex-direction: row;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 64px;
  min-width: 0;
}
.freeBox__rrvUf > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__rrvUf > :global(.__wab_flex-container) > *,
.freeBox__rrvUf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rrvUf > :global(.__wab_flex-container) > picture > img,
.freeBox__rrvUf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.freeBox__rrvUf {
  display: flex;
  position: relative;
  max-width: 100%;
  flex-direction: row;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__rrvUf {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__rrvUf > :global(.__wab_flex-container) {
    flex-direction: column;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__rrvUf > :global(.__wab_flex-container) > *,
  .freeBox__rrvUf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rrvUf > :global(.__wab_flex-container) > picture > img,
  .freeBox__rrvUf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__rrvUf {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 414px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___7Iw3L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .column___7Iw3L {
    justify-content: center;
  }
}
.freeBox__e1Bub {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logoFooter__uaczy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___4Xku4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 21px;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___4Xku4 {
    justify-content: center;
  }
}
.slotTargetSlot {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #eeeeee80;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 414px) {
  .slotTargetSlot {
    text-align: center;
  }
}
.link__xh1Ji {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__xh1Ji > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.link__xh1Ji > :global(.__wab_flex-container) > *,
.link__xh1Ji > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__xh1Ji > :global(.__wab_flex-container) > picture > img,
.link__xh1Ji
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.link__xh1Ji {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__eOgzg {
  position: relative;
  display: flex;
  flex-direction: row;
}
.slotTargetSlot2 {
  font-size: 16px;
}
.link__rUeU3 {
  position: relative;
  display: flex;
  flex-direction: row;
}
.slotTargetSlot3 {
  font-size: 16px;
}
.freeBox__lkHcv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 21px;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__lkHcv {
    justify-content: center;
  }
}
.slotTargetSlot4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #eeeeee80;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 414px) {
  .slotTargetSlot4 {
    text-align: center;
  }
}
.column__faxlz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__faxlz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.column__faxlz > :global(.__wab_flex-container) > *,
.column__faxlz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__faxlz > :global(.__wab_flex-container) > picture > img,
.column__faxlz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.column__faxlz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .column__faxlz > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .column__faxlz {
    justify-content: center;
  }
}
.freeBox___0RP9A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.h4___0GdFr {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .h4___0GdFr {
    justify-content: center;
  }
}
.slotTargetSlot5 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 414px) {
  .slotTargetSlot5 {
    text-align: center;
  }
}
.button__w5KfC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__w5KfC:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__hld9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hmd5C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__mcDl {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__qkZ4T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__qkZ4T:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__q0Zt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__zWp2O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___9Ci1V {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__o6Vp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__o6Vp:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___7U7Pi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__iXTpV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tZjYd {
  color: var(--token-34PCFqUIDbWMvv);
}
.button___3AuNk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button___3AuNk:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__cVhCs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__oXdI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__bbNuz {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__uPk1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__uPk1:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__dzhKd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xqBq0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tn0WD {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__v2CMj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__v2CMj:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__qVkuJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__eboKb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vzx13 {
  color: var(--token-34PCFqUIDbWMvv);
}
.freeBox__qgp9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(20px + 4px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.h4__ayUm7 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .h4__ayUm7 {
    justify-content: center;
  }
}
.slotTargetSlot6 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 414px) {
  .slotTargetSlot6 {
    text-align: center;
  }
}
.button__fuyU9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__fuyU9:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__umC6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__dnRxg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vr18W {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__mxljj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__mxljj:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__sy5B0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jh1Lg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__db0Qg {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__nBMy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__nBMy:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___4QZyW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__y8CT6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tDNaO {
  color: var(--token-34PCFqUIDbWMvv);
}
.column__z5Ggy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .column__z5Ggy {
    justify-content: center;
  }
}
.freeBox__fqvN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.h4__ceoDh {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .h4__ceoDh {
    justify-content: center;
  }
}
.slotTargetSlot8 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 414px) {
  .slotTargetSlot8 {
    text-align: center;
  }
}
.button__ktZ3L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__ktZ3L:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__bOq6P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__sRnPm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qoJru {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__a4OqF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__a4OqF:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__p5GGk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__zugas {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pcCe {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__iA0T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__iA0T:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___7HiYb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__rt9Zw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___4W5K {
  color: var(--token-34PCFqUIDbWMvv);
}
.freeBox__uNTlo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 20px 0px 0px;
}
.h4__bUgTn {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .h4__bUgTn {
    justify-content: center;
  }
}
.slotTargetSlot7 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 414px) {
  .slotTargetSlot7 {
    text-align: center;
  }
}
.button__bQxnv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__bQxnv:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__gAUyH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ue35X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__q6OqC {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__wc9TB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__wc9TB:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__cIli9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___10La {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__mn6Pz {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__dqqwl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__dqqwl:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__daUsr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__qLLt5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__cVCaQ {
  color: var(--token-34PCFqUIDbWMvv);
}
.column__inFsK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .column__inFsK {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__ny6Gk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__ny6Gk {
    height: auto;
  }
}
.h4__pxd32 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .h4__pxd32 {
    justify-content: center;
  }
}
.slotTargetSlot9 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 414px) {
  .slotTargetSlot9 {
    text-align: center;
  }
}
.button__m5CsC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__m5CsC:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__sRzsQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__kr37D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___4YtY {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__qAywH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__qAywH:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__lZih3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__h1Efk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pyKhu {
  color: var(--token-34PCFqUIDbWMvv);
}
.button__uCxeX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__uCxeX:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__jLfw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__paM1E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__zwsGe {
  color: var(--token-34PCFqUIDbWMvv);
}
.freeBox__sLUcq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  margin: 20px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__sLUcq {
    height: auto;
  }
}
.h4__udXyk {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .h4__udXyk {
    justify-content: center;
  }
}
.slotTargetSlot10 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 414px) {
  .slotTargetSlot10 {
    text-align: center;
  }
}
.button__i3Zk3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .button__i3Zk3:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__uYcu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__asAj8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__aa9Fa {
  color: var(--token-34PCFqUIDbWMvv);
}
